{% extends "base.html" %}
{% block content %}
<section id="content">

<!-- Move this to CSS later -->
<style>
img {
    float: center;
    margin: 0px 0px 15px 20px;
    max-width: 50%;
    max-height: 50%
}
</style>

<h1><b>Bt3 </b></h1>

<dl>

I am a <b>Senior Security Software Engineer</b> at <b><a href="https://codeascraft.com/">Etsy</a></b>. 
<br><br>

Before that, I was a <b>Senior Software Engineer</b> at <b><a href="https://developer.apple.com/">Apple</a></b> and at <b><a href="https://engineeringblog.yelp.com/">Yelp</a></b>. 
<br><br>

I am a <b><a href="https://www.recurse.com/">Recurse Center'14</a></b> alumni (former Hacker School).
<br><br>

I have been hacking, coding, and using Linux since high school. Then one year I went to <b><a href="https://www.defcon.org/">DEF CON</a></b> and found weirdos like me. I also presented a talk on <b><a href="projects_page/qc.pdf">quantum cryptography there once</a></b>.
<br><br>

My <b><a href="https://github.com/bt3gl/Python-and-Algorithms-and-Data-Structures">book in Python and Algorithms</a></b> has been used by many around the world. Recently I signed with <a href="http://www.hanbit.co.kr/"><b>Hanbit Media, Inc.</b></a> to have it translated to <b>Korean</b>.

<br><br>
I build tools focusing on <b>Network Security</b>, <b>Cloud & Containers Security</b>, and <b>Machine Learning & Deep Learning in Security</b>.

<br><br>


I have done research in places such as <b><a href="http://www.lanl.gov/">Los Alamos</a></b>, <b><a href="https://www.bnl.gov/world/">BNL</a></b>, and <b><a href="https://www.nasa.gov/goddard">NASA</a></b>.
<br><br>

My <b><a href="http://www.astro.sunysb.edu/steinkirch/books/group.pdf">book in Group Theory</a></b> is now used as text book by graduate students around the world, including at <b>CALTECH</b>.


<br><br>

<h2>Misc</h2>
       <ul>
           <li>If you are a <b>physicist</b>, <b><a href="https://en.wikipedia.org/wiki/Gravitational_singularity">this</a></b> is the <b>singularity</b> I am talking about. If you are a <b>computer scientist</b>, then it is <b><a href="https://en.wikipedia.org/wiki/Technological_singularity">this</a></b>. They are equally fascinating. &#9786</li>
           <li><b>My PGP: </b> 145A 15D9 3393 4416 F7EA  0B9E E26F 1C8E 27D9 8506.</li>
           <li><b>License</b>: This blog is licensed under the <b><a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-Noncommercial 3.0 license</a></b>.</li>
           <li><b><i>Opinions are my own and not the views of my employer.</b></i></li>
           <li><b><i>Kindness is wisdom.</b></i></li>
           <li><b><i>Impossible is just another state of mind.</b></i></li>
       </ul>
       </p>
  </dl>
  {% endblock %}
